.projects {
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
}
.col {
  min-height: 394px;
  background-color: #212121;
  border: #3e3e3e 2px solid;
  border-radius: 18% 2% 18% 2%;
  -webkit-box-shadow: -1px 1px 6px -1px rgba(209, 209, 209, 0.65);
  box-shadow: -1px 1px 6px -1px rgba(209, 209, 209, 0.65);
}
.thumbnail > img {
  border-radius: 23% 2% 20% 2%;

  max-height: 200px;
}
.col a {
  margin-top: 15px;
}
.my-h3 {
  color: white;
  padding-bottom: 7.5px;
}
.mytab {
  font-size: 2rem;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #3bc2d3;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #131313;
}
