.myh2 {
  font-family: 'Montserrat', sans-serif;
  transform: translateY(-200px);
  font-weight: 800;
  font-size: 120px;
  color: white;
  @media screen and (max-width: 1414px) {
    font-size: 100px;
  }
  @media screen and (max-width: 414px) {
    font-size: 75px;
    transform: translateY(-155px);
  }
}
.skills {
  color: white;
  position: relative;

  & ul {
    display: inline-block;
    list-style-type: none;

    padding-right: 25px;
    & li {
      padding: 3px;
      font-size: 16px;
      font-weight: 600;
      @media screen and (max-width: 1414px) {
        font-size: 15px;
      }
    }
  }
}
.graphics {
  width: 70%;
  @media screen and (max-width: 992px) {
    width: 50vw;
  }
  @media screen and (max-width: 414px) {
    display: none;
  }
}
.graphic-ul {
  color: white;

  & ul {
    display: inline-block;
    list-style-type: none;
    padding-right: 25px;
    & li {
      font-size: 18px;
    }
  }
}
.carousel {
  min-height: 400px;
}
.stack {
  opacity: 0.8;
  height: fit-content;
  @media screen and (max-width: 992px) {
    position: absolute;
    z-index: 0;
    margin-top: -100px;
    opacity: 0.4;
  }
  @media screen and (max-width: 414px) {
    display: none;
  }
}
.coding {
  display: flex;

  margin: auto;
  width: fit-content;
}
