.my-link {
  text-decoration: none;
  color: white;
  &:hover {
    color: #3bc2d3;
    text-decoration: none;
  }
}

.logo {
  color: #3bc2d3 !important;
  &:hover {
    transform: scale(0.9);
  }
}

link:active {
  color: #3bc2d3 !important;
  text-decoration: none;
}
