.contact-bar-social {
  animation: social ease-in-out 2s forwards;
  animation-delay: 1.1s;
  visibility: hidden;
  margin-left: -10px;
  & li {
    display: inline-block;
    margin: 5px;
  }
}
.icon img {
  width: 45px;
  &:hover {
    transform: scale(1.1);
  }
}

@keyframes social {
  0% {
    transform: translateX(-800px);
    -webkit-transform: translateX(-800px);
  }

  100% {
    visibility: visible;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}
