.contact-bar-social {
  animation: social ease-in-out 1s forwards;
  animation-delay: 6s;
  visibility: hidden;
  & li {
    display: inline-block;
    margin: 10px;
  }
}
.icon img {
  width: 55px;
  &:hover {
    width: 53px;
  }
}

@keyframes social {
  0% {
    transform: translateX(-500px);
    -webkit-transform: translateX(-500px);
  }
  100% {
    visibility: visible;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
  }
}
