.ContactMe {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  background-image: url(../../Assets/img/landingpage.jpg);
  background-size: cover;
  background-blend-mode: screen;

  @media screen and (max-width: 991px) {
    height: 1000px;
  }
}
