@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500");
.AboutMe {
  margin-top: -20px;
  overflow: hidden;
}
.me {
  width: 100vh;
  height: 100%;
  animation: fadein 1s linear forwards;
  transform: translateY(-21px);
  opacity: 0;
  @media screen and (max-width: 1414px) {
    width: 130%;
  }
  @media screen and (max-width: 414px) {
    width: 100%;
  }
}
.myh1 {
  font-family: "Montserrat", sans-serif;
  transform: translateY(-250px);
  font-weight: 800;
  font-size: 7.2em;
  color: white;
  @media screen and (max-width: 414px) {
    font-size: 6em;
    transform: translateY(-215px);
  }
}
.aboutmetext {
  transform: translateY(-200px);
  font-size: 20px;
  color: white;
  @media screen and (max-width: 1414px) {
    font-size: 15px;
  }
  @media screen and (max-width: 414px) {
    font-size: 13px;
  }
}
.bluebox {
  margin-top: 20px;
  transform: translateX(-400px);
  background-color: #3bc2d3;
  width: 712px;
  height: 220px;
}

/* ---------btn-------------*/

.download-btn {
  transform: translateY(-180px);
  margin-left: 25%;
}
.button {
  touch-action: none;
  user-select: none;
  display: inline-block;
  border: 0.2em solid;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #3bc2d3;
  z-index: 200;
}
.button__text {
  display: block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: bold;
}
.button__text:before {
  content: attr(title);
}
.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-1em);
  transform: translateX(-1em);
  opacity: 0;
}
.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  -webkit-transform: translateX(-100%) rotate(45deg);
  transform: translateX(-100%) rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  opacity: 1;
}
.button:hover .button__text {
  animation: fx-text 0.3s ease-out;
}
.button:hover .button__text--bis {
  animation: fx-text-bis 0.3s ease-out;
}
.button:hover .button__mask {
  animation: fx-mask 0.3s ease-out;
}

.button:active {
  opacity: 1;
  background: white;
  color: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(1000px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
